@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");

body,
html {
    height: 100%;
    margin: auto 0;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.starter-bg {
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1.5;
    opacity: 90%;
}

.starter-text-box {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
}

.fixed-bg {
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1.5;
    opacity: 90%;
}
.fixed-bg h1,
.starter-bg h1 {
    font-size: 6.5em;
    color: rgba(0, 0, 0, 1);
    margin: auto;
}
.fixed-bg h2,
.starter-bg h2 {
    font-size: 4em;
    margin: auto;
}
.fixed-bg p,
.starter-bg p {
    font-size: 2em;
    margin: auto;
    margin-bottom: 10px;
}

.menu li,
a,
p,
button {
    font-weight: 500;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.menu img {
    width: 10%;
    min-width: 100px;
    max-width: 100px;
    height: auto;
    border: none;
    background-color: rgba(129, 122, 122, 0.589);
    border-radius: 50%;
}

/* menu navigation layout 
Need to make three button spaced evenly on the top of the page
use <ul> <li>
 */

.menu ul {
    display: inline;
    justify-content: space-between;
}
.menu li {
    list-style-type: none;
    margin: 0;
    padding: 0 50px 0 50px;
    font-size: 2em;
    display: inline;
}

.header-text-box {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
}
.text-box {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    border: 3px solid black;
    max-width: 750px;
    /* padding: 20px; */
}

img {
    width: 95%;
    height: auto;
    border: 3px solid black;
}

.part1 {
    background-image: url(/resources/bg1.jpeg);
}

.part2 {
    background-image: url(/resources/bg2.jpg);
}
.part3 {
    background-image: url(/resources/wow_bg.png);
}
.part4 {
    background-image: url(/resources/bg4.jpeg);
}

.part5 {
    background-image: url(/resources/bg5.jpg);
}
